/*Variables*/
$titleFont : 'Josefin Sans', sans-serif;
$bodyFont : 'Alata', sans-serif;
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
$title1FontSize:4.5rem;
$title2FontSize:3rem;
/*General Styles**/
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: $bodyFont;
}
h1,h2,h3,h4,h5,h6{
    font-family: $titleFont;
    text-transform: uppercase;
}
.container{
    max-width: 1300px;
    margin:0 auto;
}
/*General styles ends*/
header{
    .header{
        display: flex;
        justify-content: space-between;
        min-height: 100px;
        align-items: center;
    }
    .header{
        ul{
            display: flex;
            list-style-type: none;
            li a{
                padding:10px 30px;
                display: block;
                text-decoration: none;
                color:$white;
                position: relative;
                letter-spacing: 2px;
                font-size:1.1rem;
                &::after{
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #fff;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }
            }
            li a:hover:after{
                width: 100%; 
                left: 0; 
            }
        }
    }
}
.hero{
    background: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center center;
    margin-top:-100px;
    .container{
        .hero-wrapper{
            min-height: 750px;
            display: flex;
            align-items: center;
            .hero-inner{
                flex-basis: 50%;
                border:1px solid $white;
                padding:30px;
                margin-top:50px;
                h1{
                    color:$white;
                    font-size:$title1FontSize;
                    line-height: 1.1em;
                }
            }
        }
    }
}

.about{
    margin:100px 0px;
    .about-inner{
        display: flex;
        .about-text{
            display: flex;
            align-items: flex-end;
            .about-text-inner{
                background:#ffffff;
                padding:100px 0px 0px 100px;
                margin-left:-135px;
                h2{
                    font-size: $title1FontSize;
                    color:$black;
                    margin-bottom: 20px;
                }
                p{
                    color: $darkGray;
                }
            }
        }
    }
}
.creations{
    .title-btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    h2{
        font-size: $title2FontSize;
    }
    a.btn{
        background: $black;
        padding:15px 30px;
        color: $white;
    }
}
.grid{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
.single-grid{
flex-basis: 24%;
display: flex;
align-items: flex-end;
background: red;
margin-bottom: 20px;
}
}
}